In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.1.4'

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

In [5]:
df.head(5)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [6]:
df.shape

(2160, 12)

In [21]:
unique_brands = df.iloc[:, 2].unique()
print("List of unique laptop brands:", unique_brands)

List of unique laptop brands: ['Asus' 'Alurin' 'MSI' 'HP' 'Lenovo' 'Medion' 'Acer' 'Apple' 'Razer'
 'Gigabyte' 'Dell' 'LG' 'Samsung' 'PcCom' 'Microsoft' 'Primux' 'Prixton'
 'Dynabook Toshiba' 'Thomson' 'Denver' 'Deep Gaming' 'Vant' 'Innjoo'
 'Jetwing' 'Millenium' 'Realme' 'Toshiba']

In [9]:

uni_brand_tot = df.loc[:, 'Brand'].nunique()  # Get the count of unique brands
print("Total of unique laptop brands:", uni_brand_tot)

Total of unique laptop brands: 27

In [10]:

missing_values = df.isnull().sum()
print("Missing values in column:\n", missing_values)

Missing values in column:
 Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [12]:

col_missing_values = df.isnull().sum() > 0
num_col_missing_values = col_missing_values.sum()

print("Total columns  missing values:", num_col_missing_values)

Total columns  missing values: 3

In [14]:
high_price = df['Final Price'].max()
print(high_price)

7150.47

In [15]:

dell_note = df.loc[df['Brand'] == 'Dell']

high_final_price = dell_note['Final Price'].max()

print("High final price of Dell:", high_final_price)

High final price of Dell: 3936.0

In [16]:
high_final_price = df.loc[df['Brand'] == 'Dell', 'Final Price'].max()
high_final_price

3936.0

In [19]:

init_median = df['Screen'].median()
print("Median Screen value:", init_median)

frequent_value = df['Screen'].mode()[0]
print("Most frequent Screen value:", frequent_value)

df.fillna({'Screen':frequent_value}, inplace=True)
new_med = df['Screen'].median()
print("Median Screen value after filling missing values:", new_med)

Median Screen value: 15.6
Most frequent Screen value: 15.6
Median Screen value after filling missing values: 15.6

In [21]:

i_b = df.loc[df['Brand'] == "Innjoo"]
print(i_b)

col = i_b[['RAM', 'Storage', 'Screen']]

X = col.values
print(X)

XTX = X.T @ X
print(XTX)

import numpy as np
XTX_inv = np.linalg.inv(XTX)
print(XTX_inv)

y = np.array([1100, 1300, 800, 900, 1000, 1100])
print(y)
z = XTX_inv @ X.T @ y
print(z)
sum_z = np.sum(z)
sum_z = np.round(sum_z,2)
print(sum_z)

                                                 Laptop Status   Brand Model  \
1478  InnJoo Voom Excellence Intel Celeron N4020/8GB...    New  Innjoo  Voom
1479  InnJoo Voom Excellence Pro Intel Celeron N4020...    New  Innjoo  Voom
1480  Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...    New  Innjoo  Voom
1481  Innjoo Voom Laptop Max Intel Celeron N3350/6GB...    New  Innjoo  Voom
1482  Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...    New  Innjoo  Voom
1483  Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...    New  Innjoo  Voom

                CPU  RAM  Storage Storage type  GPU  Screen Touch  Final Price
1478  Intel Celeron    8      256          SSD  NaN    15.6    No       311.37
1479  Intel Celeron    8      512          SSD  NaN    15.6    No       392.55
1480  Intel Celeron    4       64         eMMC  NaN    14.1    No       251.40
1481  Intel Celeron    6       64         eMMC  NaN    14.1    No       383.61
1482  Intel Celeron    6      128          SSD  NaN    14.1    No       317.02
1483  Intel Celeron    6      128         eMMC  NaN    14.1    No       431.38
[[  8.  256.   15.6]
 [  8.  512.   15.6]
 [  4.   64.   14.1]
 [  6.   64.   14.1]
 [  6.  128.   14.1]
 [  6.  128.   14.1]]
[[2.52000e+02 8.32000e+03 5.59800e+02]
 [8.32000e+03 3.68640e+05 1.73952e+04]
 [5.59800e+02 1.73952e+04 1.28196e+03]]
[[ 2.78025381e-01 -1.51791334e-03 -1.00809855e-01]
 [-1.51791334e-03  1.58286725e-05  4.48052175e-04]
 [-1.00809855e-01  4.48052175e-04  3.87214888e-02]]
[1100 1300  800  900 1000 1100]
[45.58076606  0.42783519 45.29127938]
91.3